@charset "utf-8";

/*-------------------------
	General
-------------------------*/

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
	color: #444;
}

a, button {
    transition: 0.5s;
    text-decoration: none;
}
a:hover,
button:hover {
    opacity: 0.7 !important;
    text-decoration: none !important;
}

.pc-view {display: block;}
.sp-view {display: none;}

.container-1500px {
    max-width: 1500px;
    margin: 0 auto;
}

.container-1000px {
    max-width: 1000px;
    margin: 0 auto;
}

.footer {
    background: white;
    padding: 50px 0 100px;
    font-size: .7em;
    color: #638ca5;
    text-align: center;
	font-family: "Heebo";
	letter-spacing: .1em;
}
.footer a {
	color: #777;
}
.footer p {
	margin-bottom: 20px;
}


/*-------------------------
	Navigation
-------------------------*/

.navigation-bar {
	padding: 8px 0;
    color: #444;
    background: white;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transition: all 1s;
}
.navigation-bar #toggle {
    display: none;
}
.navigation-bar.hidden {
    opacity: 0;
}
.navigation-bar.absolute {
    color: white;
    background: transparent;
    position: absolute;
    
}
.navigation-bar.fixed {
    position: fixed;
}

.navigation-bar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}
.navigation-bar ul li {
	/*border-right: 1px solid #FFF;*/
	padding: 3px 5px;
}
.navigation-bar.fixed ul li {
	/*border-right: 1px solid #444;*/
}

.navigation-bar ul li:first-child,
.navigation-bar ul li:last-child{
	border-right: none;
}

.navigation-bar ul li a {
    display: block;
    color: inherit;
    padding: 0 12px;
    /*line-height: 3.6em;
    height: 3.6em;*/
	font-size: .85em;
}

.navigation-bar ul li.logo {
    flex: auto;
}

.navigation-bar ul li a img {
    height: 3em;
    margin: 0.3em 0;
}
.navigation-bar ul li.twitter a img {
    margin: 1.3em 0;
    height: 1em;
}

.navigation-bar ul li.purchase a {
    color: rgb(13, 70, 125);
    background: white;
    font-weight: bold;
}
.navigation-bar.fixed ul li.purchase a {
    color: white;
    background: rgb(13, 70, 125);
}
.purchase-button {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2em;
    font-size: 1.5em;
    line-height: 2em;
    text-align: center;
    color: white;
    background: rgb(13, 70, 125);
}


/*-------------------------
	Background Image
-------------------------*/

#back1 {
    background: url(images/back1.svg);
}
#back2 {
    background: url(images/back2.svg);
}
#back1, #back2 {
    background-position: center top;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
    background-size: 100% auto;
    margin: 0;
}
#back1 img, #back2 img {
    display: block;
    margin: 0;
    width: 100%;
    opacity: 0;
}

/*-------------------------
	Abstract / Concept
-------------------------*/

#abstract {
    background: white;
    overflow: visible;
    position: relative;
	padding: 5em 0 5em;
}
#abstract img {
    height: 12em;
    display: block;
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-30%);
}

#abstract .concept {
    display: flex;
    align-items: center;
    margin: 3em 0;
}
#abstract .concept::before,
#abstract .concept::after {
    border-top: 1px solid;
    content: "";
    flex-grow: 1;
}
#abstract .concept * {
    text-align: center;
	line-height: 1em;
}

#abstract .concept h3 {
    font-family: "Heebo";
	letter-spacing: .2em;
    font-size: 2.9em;
	margin: 0 50px 30px 50px;
}

#abstract .concept h4 {
	letter-spacing: .2em;
    font-size: 2em;
	font-weight: normal;
	margin: 0;
}

#abstract p {
    text-align: center;
    line-height: 2.5em;
    font-size: 1.3em;
	padding-top: 40px;
}


/*-------------------------
	Outline
-------------------------*/

#outline {
    background: #f2f2f2;
    background-image: url(images/outline.svg);
    background-position: right bottom;
    background-repeat: no-repeat;
}

#outline h3 {
    font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
	font-size: 2.3em;
	line-height: 2em;
	font-weight: normal;
	padding: 60px 0;
}

#outline p {
    margin-bottom: 20px;
	font-size: 1.1em;
    line-height: 2.8em !important;
	margin-bottom: 40px;
}

#outline p:last-child {
	margin-bottom: 100px;
}


/*-------------------------
	Speakers
-------------------------*/

#speakers {
	padding-bottom: 120px;
}

#speakers .row {
    display: flex;
    align-content: center;
    margin: 30px auto 100px;
}
#speakers .row .row-child {
    display: flex;
    width: 500px;

}
#speakers .row .row-child.reverse {
    flex-direction: row-reverse;
}

#speakers .row .speaker {
    width: 380px;
}

#speakers .profile-image {
    height: 380px;
    width: 380px;
    object-fit: cover;
    
}

#speakers .row .speaker .topic {
    height: 1.3em;
    margin: 0 0 20px;
    font-size: 2.4em;
    /*line-height: 2.4em;*/
    font-family: "Heebo";
	letter-spacing: .12em;
}
.icon-size {
    height: 100%;
	vertical-align: middle;
	padding: 0 5px 0 0;
}
#speakers .row .speaker .company {
    margin: 30px 0 20px;
    font-size: 1em;
	line-height: 1.5em;
}
#speakers .row .speaker .name {
    font-weight: bold;
    font-size: 1.9em;
    margin: 0 0 30px;
}
#speakers .row .speaker .profile p {
	text-align: left;
    line-height: 1.8em;
	font-size: .95em;
}
#speakers .row .speaker hr {
    margin: 20px 0;
	border-style: none;
	border-top: 1px solid #999;
}

#speakers .row .space {
    width: 100px;
}


/*-------------------------
	Information
-------------------------*/

table {
    margin: 0 auto;
    border-top: 1px solid #444;
    border-collapse: collapse;
    border-spacing: 0;
}

tr > td:first-child {
    border-right: 1px solid #444;
    padding: 30px 30px 30px 0;
}

td {
    padding: 30px 20px;
    border-bottom: 1px solid #444;
    font-size: 1.1em;
}

#information iframe {
    width: 100%;
	margin-bottom: 40px;
}
#information.item p {
    text-align: center;
    font-size: .95em;
    line-height: 2em;
	padding-bottom: 50px;
}

/*-------------------------
	Sponsorship
-------------------------*/

#sponsor p {
    background: white;
    padding: 50px 0;
	margin: 100px 0;
	font-size: 1.1em;
	line-height: 2.7em;
}


/*-------------------------
	Items
-------------------------*/

.item {
    padding-bottom: 30px;
    background: #f2f2f2;
}
.item a {
    color: black;
    text-decoration: underline;
}

.item p {
    text-align: center;
    font-size: .95em;
    line-height: 2em;
}

.item h4 {
    display: block;
    padding: 30px;
    margin: 0;
    margin-bottom: 50px;
    text-align: center;
	font-size: 1.6em;
    font-family: "Heebo";
	letter-spacing: .25em;
    color: white;
    background: linear-gradient(to right, #8cabba, #638ca5);
}

.item h3, .item h5 {
    text-align: center;
    margin: 100px 0 30px;
    font-family: "Heebo";
    font-size: 1.5em;
	letter-spacing: .12em;
}


/*-------------------------
	Contact
-------------------------*/

#contact form {
    width: 80%;
	margin: 30px auto 100px
}

label.row {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin: 20px 0;
}
label.wide {
    margin-left: auto;
    margin-right: auto;
}
label.row.textarea {
    flex-direction: column;
}

label.row span {
	width: 120px;
    padding: 20px;
	box-sizing: border-box;
	text-align: center;
}

label.textarea span {
	width: 100%;
}

label.row span.dark {
    background: #d6d6d6;
    color: dimgray;
}

label.row input {
    width: auto;
}

label.row.wide input {
    flex: auto;
}

label.row input, label textarea {
    border: none;
    padding: 20px;
	font-size: 1.1em;
}

button {
    padding: 20px;
    text-align: center;
    color: white;
    background: #638ca5;
    border: none;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

button.green {
    background: green;
}


/*-------------------------
	@media
-------------------------*/

@media screen and (max-width: 1000px) {
	
	.pc-view {display: none;}
	.sp-view {display: block;}
	
	.container-1000px { width: 85%; margin: 0 auto; }
	
	#back1, #back2 { background: none; }
	#back1 img, #back2 img { display: block; margin: 0; width: 100%; opacity: 1; }
	
	
	/*---- Navi (~1000px) ----*/
	
    .navigation-bar.absolute { display: none; }
    .navigation-bar ul {
        display: block !important;
		max-height: 100%;
		margin: 0;
		padding: 0;
    }
	.navigation-bar ul li { border-top: 1px solid #444; }
    .navigation-bar ul li a {
        text-align: center;
		display: block;
		width: 100%;
		padding: 1.2em 0;
		font-size: 2em;
    }
	.navigation-bar ul li a img { height: 1.7em; }
	.navigation-bar ul li:first-child { border-top: none; }
	.navigation-bar ul li:first-child > a { border-top: none; padding: 0.2em 0; }
	
    .navigation-bar #toggle { display: initial !important; }
    .navigation-bar.fixed #toggle input { display: none; }
    .navigation-bar.fixed #toggle input + span::after  {
        display: block;
        content: "=";
        font-size: 6em;
		color: #777;
        line-height: 100%;
        width: 2em;
        height: 2em;
        z-index: 2;
        position: absolute;
        top: 11%;
        left: 3%;
    }
    .navigation-bar.fixed #toggle input:checked + span::after {
        content: "×";
        position: absolute;
        top: 1%;
    }
    .navigation-bar:not(.toggled) ul li:not(:first-child) { display: none; }

    .purchase-button {
        display: block;
    }
	
	
	/*---- Outline (~1000px) ----*/
	
	#outline p { font-size: 1.5em; text-align: left; line-height: 3em !important; }
	
	
	/*---- Speakers (~1000px) ----*/
	
    #speakers .row { display: block !important; width: 75%; margin: 0 auto; }
    #speakers .row .row-child { width: 100%; }
    #speakers .row .space { display: none; }
    #speakers .row .speaker { width: 100%; margin-bottom: 100px; }
	
	#speakers .row .speaker .topic { font-size: 3.3em; }
    #speakers .profile-image { height: 500px; width: 100%; }
	#speakers .row .speaker .profile p { line-height: 2.2em; font-size: 1.5em; }
	#speakers .row .speaker .company { font-size: 1.4em; line-height: 1.8em;}
	#speakers .row .speaker .name { font-size: 2.6em; }
	
	
	/*---- Items (~1000px) ----*/
	
	.item h5 { font-size: 2em; }
	.item p { font-size: 1.5em;  line-height: 2.4em; }
	
	
	/*---- Information (~1000px) ----*/
	
	td { font-size: 1.5em; }
	#information.item p { font-size: 1.7em; }
	
	
	/*---- Sponsorship (~1000px) ----*/
	
	#sponsor p { font-size: 1.6em; }

	
	/*---- Contact (~1000px) ----*/
	
	#contact form { width: 100%; font-size: 1.5em; }
}

@media screen and (max-width: 420px) {
	
	/*---- Navi (~420px) ----*/
	
    .navigation-bar ul li a { font-size: 1em; }
	.navigation-bar ul li:first-child > a { padding: 0em 0; }
	.navigation-bar ul li a img { height: 2.2em;　margin: 0.2em 0; }
	.navigation-bar.fixed #toggle input + span::after  {
        font-size: 3em;
        width: 1em;
        height: 1em;
        top: 11%;
        left: 3%;
    }
    .navigation-bar.fixed #toggle input:checked + span::after {
        top: 1%;
    }
	
	
	/*---- Abstract (~420px) ----*/
	
	#abstract .concept h3 { font-size: 1.7em; margin: 0 20px 20px 20px; }
	#abstract .concept h4 { font-size: 1.25em; }
	#abstract p { line-height: 2.5em; font-size: .9em; padding-top: 20px; }
	#abstract img {
		height: 7em;
		display: block;
		position: absolute;
		top: -10%;
		left: 50%;
		transform: translateX(-30%);
	}
	
	
	/*---- Outline (~420px) ----*/
	
	#outline {
		background-position: center top;
		background-size: 300%;
		background-repeat: no-repeat;
	}
	#outline h3 { font-size: 1.6em; padding: 0 0 20px; }
	#outline p { padding: 0 5%; font-size: 1em; line-height: 2.4em !important; }
	
	
	/*---- Speakers (~420px) ----*/
	
    #speakers .row { width: 90%; }
    #speakers .row .row-child { margin: 0 auto 50px; }
	
	.icon-size { height: 90%; padding-right: 0; }
	
    #speakers .row .speaker { margin-bottom: 20px; }
	#speakers .row .speaker .topic { font-size: 1.8em; display: block; }
    #speakers .profile-image { max-height: 300px; width: 100%; display: block; margin: 0 auto; }
	#speakers .row .speaker .profile p { font-size: .9em; }
	#speakers .row .speaker .company { font-size: 1em; line-height: 1.8em;}
	#speakers .row .speaker .name { font-size: 1.5em; }
	
	/*---- Information (~420px) ----*/
	
	table { width: 90%; }
	td { font-size: .9em; line-height: 2em; padding: 0 10px;}
	#information.item p { font-size: 1.1em; }
	
	
	/*---- Sponsorship (~420px) ----*/
	
	#sponsor p { font-size: .9em; padding: 30px; box-sizing: border-box;}
	
	
	/*---- Items (~420px) ----*/
	
	.item h5 { font-size: 1.4em; }
	.item p { font-size: 1em;  line-height: 2.4em; }
	
	
	/*---- Contact (~420px) ----*/
	
	#contact form { width: 100%; font-size: 1em; }

	label.row { width: 100%; display: block; margin: 20px 0;}
	label.row span { display: block; width: 100%; padding: 15px 20px; box-sizing: border-box; text-align: center;}

	label.textarea span, label.row input, textarea { width: 100%; }
}

#cover.show {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.5);
    z-index: 100;
}

#ifPaymentInvalid.hide {
    display: none;
}

.twitter-timeline {
    max-width: 1000px !important;
}